
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "KhachHang"))
{
    <div>
        <label>Mã khách hàng</label>
        <input type="text" name="MaKH" />
    </div>
    <div>
        <label>Tên khách hàng</label>
        <input type="text" name="TenKH" />
    </div>
    <div>
        <label>Số điện thoại</label>
        <input type="text" name="SoDT" />
    </div>
    <div>
        <label>Địa Chỉ</label>
        <input type="text" name="DiaChi" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
}

