
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "ChiTietHoaDon"))
{
    <div>
        <label>Mã hóa đơn</label>
        <input type="text" name="MaHD" />
    </div>
    <div>
        <label>Mã hàng hóa</label>
        <input type="text" name="MaHH" />
    </div>
    <div>
        <label>Số lượng</label>
        <input type="text" name="SoLuong" />
    </div>
    <div>
        <label>Đơn giá</label>
        <input type="text" name="DonGia" />
    </div>
    <div>
        <label>Thành tiền</label>
        <input type="text" name="ThanhTien" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
}

